<html>
  <head>
    <!-- METAS -->
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="theme-color" content="#212121">
    <title>Kinito App</title>
    <meta name="description" content="Le jeu kinito dans votre poche !">
  </head>
 
  <body>
    <header>
      <h1>KINITO</h1>
    </header>
 
    <div class="wrap">
      <section id="dices">
        <div class="dice"></div>
        <div class="dice"></div>
      </section>
 
      <section id="actions">
        <button class="action-shuffle"></button>
      </section>
 
    </div>
  </body>
</html>