<html prefix="og: http://ogp.me/ns#">
  <head>
    <!-- METAS -->
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" lang="fr" content="Dimitri GUERROUE">
    <meta name="theme-color" content="#212121">
    <title>Kinito App</title>
    <meta name="description" content="Le jeu kinito dans votre poche !">
 
    <!-- LINKS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
 
    <!-- Custom CSS -->
    <!-- <link href="dist/css/styles.min.css" rel="stylesheet"> -->
  </head>
 
  <body>
    <header>
      <h1>KINITO</h1>
    </header>
 
    <div class="wrap">
      <section id="dices">
        <div class="dice"></div>
        <div class="dice"></div>
      </section>
 
      <section id="actions">
        <button class="action_shuffle" data-action="shake"></button>
      </section>
 
    </div>
    <!-- <script src="dist/js/app.min.js"></script> -->
  </body>
</html>