

<html>
  <head>
    <!-- METAS -->
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="theme-color" content="#212121">
    <title>Kinito App</title>
    <meta name="description" content="Le jeu kinito dans votre poche !">
  </head>
 
  <body class="home">

    <header>
      <a href="/"><h1>KINITO</h1></a>
    </header>
 
    <div id="content">

        <div class="container">

          <div class="form-group form-user">

            <label for="username">Pseudo</label>
            <input type="text" id="username" class="flex-grow" oninput="toggleOnInput(this, '.home .btn-links a')">

          </div>

          <div class="btn-links">
            <a class="btn btn-link my-2" href="#" disabled>Rejoindre une salle</a>
            <a class="btn btn-link my-2" href="create-room.html" disabled onclick="createRoom()">Créer une salle</a>
          </div>

        </div>
 
    </div>

    <script src="http://828f54346b24.ngrok.io/socket.io/socket.io.js"></script>
  </body>
</html>