/* HOME */
[data-view="home"] {
  
  #content {
    padding: 60px 0;

    .container {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      #forms {
        flex-grow: 1;
      }
      .form-username {
      }
    }

    .btn-links {
      display: flex;
      flex-direction: column;
    }
  }
}

/* GAME */
[data-view="game"] {

  section#dices{
    display: flex;
    max-width: 450px;
    padding: 60px 20px;
    flex-grow: 1;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: #212121;
  }

}