body.home {
  
  #content {
    padding: 60px 0;

    .container {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      .form-user {
        flex-grow: 1;
      }
    }

    .btn-links {
      display: flex;
      flex-direction: column;
    }
  }
}