body {
  color: $color-text;
  font-family: $font-body;
}

h1 {
  font-family: $font-title;
  font-size: 3rem;
  font-weight: 200;
  letter-spacing: 2px;
}

// icon font
i[class*="icon-"] {
  display: inline-block;
  line-height: 50%;

  &::before {
      display: inline-block;
      line-height: 1;
  }
}