// BRANDS COLORS
//
$color-vuejs: #41B883;


// COLORS
//
$color-primary: #0994af;

$color-bg: #0277BD;

// FONTS
//
$font-body: 'Open Sans', sans-serif;

// overload icon-font-plugin
// $icon-common-class: 'icon';
$icon-prefix: 'icon-';
$create-font-face: false;