html {
  height: 100%;
  overflow: auto;
}
body {
  display: flex;
  min-height: 100%;
  margin: 0;
  flex-direction: column;
  background-color: #212121;
}

header {
  padding: 1rem 0;

  h1 {
    text-align: center;
    color: #FFF;
  }
  a,
  a:visited {
    text-decoration: none;
  }
}

div#content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}


//TODO: move

section#actions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 60px;
}